{% extends 'App1/core1.html' %}

{% block content %}
<div class="row">
  <div class="col-sm-4">
    <h3 class="text-center alert alert-success">Add New Students </h3>
    <form action="" method="POST" novalidate>
      {% csrf_token %}
      {{form.as_p}}
      <input class="btn btn-success" type="submit" value="Add">
  </div>

  <div class="col-sm-8">
    <h3 class="text-center alert alert-dark">Update Student Details </h3>
    {% if data %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Password</th>
          <th scope="col">action</th>
        </tr>
      </thead>
     
     <tbody>
      {% for i in data %}
      <tr>
        
        <th scope="row">{{i.id}}</th>
        <td>{{i.name}}</td>
        <td>{{i.email}}</td>
        <td>{{i.phone}}</td>
        <td>{{i.password}}</td>
        <td> <a href="{% url 'edit' i.id %}" class="btn btn-warning btn-sm"> Edit</a>
          <form action="{% url 'delete' i.id %}" method="POST" class="d-inline">
             {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="Delete">
          </form>
          
        </td>
      </tr>
      {% endfor%}
      
    </tbody>
    
    </table>
    {% endif %}
      
      
  </div>
</div>
{% endblock content %}