{% extends 'App1/core1.html' %}

{% block content1 %}
update
{% endblock content1 %}

{% block content %}
     <div class="row">
         <div class="cal-sm-4 ">
             <h4 class=" alert alert-dark">Update Information </h4>
             <form action="" method="POST">
                 {% csrf_token %}
                 {{edit1}}
                 <input type="submit" value="Update" class="btn btn-success">
                 <a href="{% url 'home' %}" class="btn btn-primary"> Back To Home </a>
             </form>
         </div>
     </div>

{% endblock content %}